.logo{
    height:50px
}
body{
    background:#f3f3f3;
}

.maintainer{
    background:#fff;
    width: 800px;
    margin: 0 auto;
    overflow: hidden;

}
.page-title{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    line-height: 1.2;
}
