.question-content{
    margin: 5px 10px auto;
}

.answer-content{
    margin: 5px 10px;
}

.answer-info{
    text-align: center;
}

.answer-list{
    list-style: none;
    padding-left: 0;
}

.answer-list li{
    border-bottom: 1px solid #eee;
    overflow: hidden;
}

.avatar{
    width: 38px;
    height: 38px;
}

.user-info{
    text-align: right;
    margin-right: 10px;
}
