
.question-list-group{
    list-style: none;
    padding-left: 0;
}

.question-list-group li{
    border-bottom: 1px solid #eee;
    overflow: hidden;
}

.avatar-group{
    width: 38px;
    height: 100%;
    float: left;
}

.avatar-group .avatar{
    width: 38px;
    height: 38px;
}

.question-group{
    float: left;
    width: 730px;
    margin-left: 10px;
}

.question-title a{
    color: #259;
    font-weight: 900;
}

.question-info{
    text-align: right;
}

.question-info .question-author{
    margin-right 20px;
}