{% extends "base.html" %}
{% block head %}<link rel="stylesheet" href="{{url_for('static',filename='css/detail.css')}}"> {% endblock %}
{% block title %}Question Detail{% endblock %}
{% block main %}

    <div class = "maintainer">
        <h3 class="page-title">{{ question.title}}</h3>
        <p class="answer-info">
            <span>Author: {{question.author.username}}</span>
            <span>Time: {{question.create_time}}</span>
        </p>
        <hr>
        <p class="question-content">{{question.content}}</p>
        <hr>
        <h4>Charm: (0)</h4>
        <form action="{{url_for('add_answer')}}" method="POST">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="charm" name="answer_content">
                <input type="hidden" name="question_id" value="{{question.id}}">
            </div>
            <div class="form-group" style="text-align: right;">
               <button class="btn btn-primary">Commit</button>
            </div>
        </form>
        <ul class="answer-list">
             {% for answer in answers %}
                <li>
                     <p class="answer-content">{{answer.content}}</p>
                    <div class="user-info">
                        <img class="avatar" src="{{url_for('static', filename='images/pie-chart-3d.png')}}" alt="">
                        <span class="username">{{answer.author.username}}</span>
                    </div>

                </li>
             {% endfor %}
        </ul>
    </div>
{% endblock %}