{% extends "base.html" %}
{% block head %}<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"> {% endblock %}
{% block title %}index{% endblock %}
{% block main %}
    <div class = "maintainer">
        <ul class="question-list-group">

            {% for question in questions %}
                 <li>
                     <div class="avatar-group">
                        <img class="avatar" src="{{url_for('static', filename='images/pie-chart-3d.png')}}" alt="">
                     </div>
                     <div class="question-group">
                        <p class="question-title"><a href="{{url_for('detail', question_id=question.id)}}">{{question.title}}</a>
                        </p>
                        <p class="question-content">
                            {{question.content}}
                        </p>
                        <p class="question-info">
                            <span class="question-author">{{question.author.username}}</span>
                            <span class="question-time">{{question.create_time}}</span>
                        </p>
                     </div>
                 </li>
            {% endfor %}

        </ul>
    </div>
{% endblock %}