{% extends "base.html" %}
{% block head %}<link rel="stylesheet" href="{{url_for('static',filename='css/login_register.css')}}"> {% endblock %}
{% block title %}Login{% endblock %}
{% block main %}

    <div class = "maintainer">
        <h3 class="page-title">Login</h3>
        <form action="" method="POST">
            <div class="form-container">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="telephone" name="telephone">
                </div> <div class="form-group">
                    <input type="password" class="form-control" placeholder="password" name="password">
                </div>
                <div class="form-group">
                   <button class="btn btn-primary btn-block">Login</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}