{% extends "base.html" %}
{% block head %}<link rel="stylesheet" href="{{url_for('static',filename='css/question.css')}}"> {% endblock %}
{% block title %}Publish Question{% endblock %}
{% block main %}

    <div class = "maintainer">
        <h3 class="page-title">Publish Question</h3>
        <form action="" method="POST">
            <div class="form-container">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="title" name="title">
                </div> <div class="form-group">
                    <textarea class="form-control" name="content" rows="10" placeholder="content"></textarea>
                </div>
                <div class="form-group">
                   <button class="btn btn-primary">Commit</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}